<!--The content below is only a placeholder and can be replaced.-->
<div>
  <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
    <mat-card class="example-card" >
      <mat-card-header>
        <mat-card-title>Employee</mat-card-title>
      </mat-card-header>
      <mat-card-content style="width: 100% !important;">
        <mat-form-field fxFlex appearance="outline" floatLabel="always">
          <mat-label>Full Name</mat-label>
          <input matInput formControlName="fullName" placeholder="Full Name">
          <mat-error *ngIf="formErrors.fullName">{{formErrors.fullName}}</mat-error>
        </mat-form-field>

        <div>
          <mat-label>Contact prefrence</mat-label><br/>
          <mat-radio-group formControlName="contactPreference" (change)="onSelectionChange($event)" aria-label="Select an option">
            <mat-radio-button value="email">Email</mat-radio-button>
            <mat-radio-button value="phone">Phone</mat-radio-button>
          </mat-radio-group>
        </div><br/>

        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" placeholder="Email">
          <mat-error *ngIf="formErrors.email">{{formErrors.email}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>Phone</mat-label>
          <input matInput formControlName="phone" placeholder="Phone">
          <mat-error *ngIf="formErrors.phone">{{formErrors.phone}}</mat-error>
        </mat-form-field>

        <div formGroupName="skills">
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>skills Name</mat-label>
            <input matInput formControlName="skillName" placeholder="Skills Name">
            <mat-error *ngIf="formErrors.skillName">{{formErrors.skillName}}</mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Experience</mat-label>
            <input matInput formControlName="experienceInYear" placeholder="Experience In Year">
            <mat-error *ngIf="formErrors.experienceInYear">{{formErrors.experienceInYear}}</mat-error>
          </mat-form-field>

          <div>
            <mat-label>Proficiency</mat-label><br/>
            <mat-radio-group formControlName="proficiency" aria-label="Select an option">
              <mat-radio-button value="1">Begginer</mat-radio-button>
              <mat-radio-button value="2">Intermediat</mat-radio-button>
            </mat-radio-group>
            <mat-error *ngIf="formErrors.proficiency">{{formErrors.proficiency}}</mat-error>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="primary" type="submit" [disabled]="!employeeForm.valid">SAVE</button>
        <button mat-flat-button color="primary" type="button" (click)="onLoadDataClick()">Load Data</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>